
  @media only screen 
  and (device-width : 350px) 
  and (device-height : 850px) 
  and (-webkit-device-pixel-ratio : 3) { 
 .each-fade {
      width: 100%;
      height: 100%;
      padding-top: 2rem;
    }
  }
  

.slide-container {
    width: 100%;
    margin: center;
}

h3 {
  text-align: center;
}

.each-slide>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 70%;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}




.each-fade .image-container {
  width: 100%;
  size: 100%;
  height: auto;
  overflow: visible;
}

.each-fade .image-container img {
  width: 100%;
  height: 100%;
}

.each-fade h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

